// 修改element-plus 主题样式

$--colors: (
  /* "primary": (
    "base": green,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ), */
);



// we can add this to custom namespace, default is 'el'
/* @forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "ep"
); */

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $--colors,
  $menu: ('hover-bg-color':var(--el-bg-color))
  );


@use './element-plus-dark.scss'